.frame-child14,
.padding-child,
.frame-child15,
.frame-child16 {
  display: none;
}
.frame-child14,
.frame-child15,
.rectangle-parent6,
.form-padding-child,
.form-padding-item,
.select-baby-stage-parent {
  border-radius: 11.07px;
  background-color: var(--us-white);
  border: 1.4px solid var(--ub-tagoutline);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child14 {
  align-self: stretch;
  height: 807px;
  position: relative;
}
.padding-child {
  height: 110.7px;
  width: 664.4px;
  position: relative;
  border-radius: 11.07px 11.07px 0 0;
  background-color: var(--color-slateblue);
  max-width: 100%;
}
.book-demo-session,
.only-4-spots,
.name-placeholder,
.enter-mobile-number,
.apply-now,
.uptodds-terms-container {
  position: relative;
  font-family: var(--font-dm-sans);
  letter-spacing: -0.01em;
  display: inline-block;
  z-index: 1;
}
.book-demo-session,
.only-4-spots {
  color: var(--us-white);
  text-align: left;
}
.book-demo-session {
  margin-bottom: -0.5px;
  font-size: 27.7px;
  line-height: 42px;
  font-weight: 500;
}
.only-4-spots {
  font-size: var(--font-size-lgi-4);
  line-height: 31px;
}
.row-container,
.content-container,
.form-padding,
.form-container,
.image-block,
.inner-padding,
.image-padding,
.image-container,
.popup,
.group-form,
.policy-container,
.apply-button-container,
.rectangle-parent7 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.row-container,
.content-container,
.image-block,
.form-container,
.apply-button-container,
.policy-container {
  align-self: stretch;
}
.row-container,
.image-padding {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0;
}
.image-block,
.form-padding {
  flex-direction: column;
  justify-content: flex-start;
}
.row-container,
.content-container {
  flex-direction: row;
  align-items: flex-start;
}
.row-container,
.padding,
.form-padding-child,
.form-padding-item,
.select-baby-stage-parent {
  justify-content: space-between;
}
.inner-padding,
.image-block {
  flex-direction: column;
  padding: 0;
}
.image-block {
  width: 393.1px;
  padding: 7px 0 0;
}
.icon-stroke-cross,
.icon-stroke-cross1 {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  flex-shrink: 0;
  z-index: 2;
}
.icon-stroke-cross {
  padding: 0;
  height: 49.1px;
  width: 49.1px;
  position: relative;
  border-radius: 1.37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-stroke-cross1 {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.content-container {
  padding: 0 0 17.9px;
}
.padding,
.padding-child,
.form-padding-child,
.form-padding-item,
.rectangle-parent6,
.select-baby-stage-parent {
  background-color: var(--color-slateblue);
}
.padding {
  flex: 1;
  border-radius: 11.07px 11.07px 0 0;
  padding: 13.8px var(--padding-sm) 17.4px var(--padding-29xl);
  gap: var(--gap-xl);
}
.form-padding-child,
.form-padding-item {
  width: 100%;
  outline: 0;
  padding: var(--padding-mini) var(--padding-8xl) var(--padding-smi);
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-3xl-1);
  color: var(--primary-font);
  min-width: 250px;
}
.form-padding {
  flex: 1;
  flex-direction: column;
  gap: 18.1px;
}
.form-container {
  flex-direction: row;
  padding: 0 var(--padding-28xl) var(--padding-2xs) var(--padding-26xl);
}
.name-placeholder {
  font-size: var(--font-size-3xl-1);
  line-height: 35.99px;
  color: var(--primary-font);
  text-align: left;
  white-space: nowrap;
}
.name-field,
.email-field,
.mobile-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-field {
  width: 25px;
  padding: 22.2px var(--padding-4xs) 0 0;
}
.mobile-field {
  width: 233.9px;
  padding: var(--padding-4xs) 0 0;
}
.email-icon-right,
.email-icon-left {
  position: relative;
  z-index: 2;
}
.email-icon-right {
  width: 15.2px;
  height: 7.6px;
}
.email-icon-left {
  height: 50.5px;
  width: 1.4px;
}
.name-field-parent {
  width: 78.9px;
  flex-direction: row;
  gap: 4.8px;
}
.enter-mobile-number {
  border: 0;
  outline: 0;
  font-size: var(--font-size-3xl-1);
  line-height: 35.99px;
  background-color: transparent;
  color: rgba(0, 40, 99, 0.6);
  text-align: left;
  min-width: 140px;
  padding: 0;
}
.rectangle-parent6 {
  padding: 6px var(--padding-8xl);
  gap: 33.2px;
}
.select-baby-stage-parent {
  padding: var(--padding-mini) var(--padding-8xl) var(--padding-smi);
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-3xl-1);
  color: var(--primary-font);
}
.apply-now {
  font-size: var(--font-size-3xl-1);
  line-height: 35.99px;
  color: var(--us-white);
  text-align: center;
}
.rectangle-parent7 {
  cursor: pointer;
  padding: 19.4px 80px 20.7px;
  background-color: var(--color-crimson-300);
  border-radius: 11.07px;
}
.rectangle-parent7:hover {
  background-color: var(--color-crimson-100);
}
.apply-button-container {
  padding: 0 var(--padding-28xl) 0 var(--padding-26xl);
}
.uptodds {
  color: var(--primary-font);
}
.terms-conditions,
.privacy-policy {
  color: var(--color-crimson-300);
}
.and,
.for-complete-data {
  color: var(--primary-font);
}
.policy-container {
  width: 616.7px;
  padding: 0 var(--padding-26xl) 16.4px;
}
.image-29-icon,
.image-31-icon {
  position: relative;
  z-index: 1;
}
.image-29-icon {
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-31-icon {
  height: 49.8px;
  width: 117.7px;
  object-fit: cover;
}
.image-container {
  height: 59.5px;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.group-form {
  margin: 0;
  flex: 1;
  border-radius: 11.07px;
  flex-direction: column;
  padding: 0 0 36px;
  gap: 25px;
}
.popup {
  width: 664.4px;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  letter-spacing: normal;
  line-height: normal;
  max-width: 90%;
  max-height: 90%;
}
@media screen and (max-width: 625px) {
  .padding,
  .rectangle-parent6 {
    flex-wrap: wrap;
  }
  .policy-container,
  .rectangle-parent7 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
  }
  .policy-container {
    padding-left: var(--padding-3xl);
    padding-right: var(--padding-3xl);
  }
}
@media screen and (max-width: 450px) {
  .book-demo-session {
    font-size: var(--font-size-3xl);
    line-height: 33px;
  }
  .padding {
    padding-left: var(--padding-xl);
  }
  .enter-mobile-number,
  .name-placeholder {
    font-size: var(--font-size-lg);
    line-height: 29px;
  }
  .rectangle-parent6 {
    gap: var(--gap-mid);
  }
  .form-container {
    padding-left: var(--padding-xl);
    padding-right: var(--
